@tailwind base;
@tailwind components;
@tailwind utilities;

/* ここから下が追加・調整分です */

@layer base {
  /* スマホでの見え方を調整 */
  html {
    -webkit-tap-highlight-color: transparent; /* タップ時の青いハイライトを消す */
  }
  
  body {
    @apply bg-slate-50 text-slate-900;
    /* フォントを少し太く滑らかに見せる（視認性向上） */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  /* .no-scrollbar 
    横スクロールバーを見えなくするが、スクロール機能は維持するクラス
  */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}